* {
    padding : 0px;
    margin: 2;
    overflow-x: hidden;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid rgb(190, 202, 20);
    margin: auto;
}

#character{
    width:20px;
    height:50px;
    background-color: rgb(165, 1, 241);
    position:relative;
    top: 150px;
    
}
.animate{
    animation:jump 0.3s linear;
}
@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

#block{
    width:20px;
    height:20px;
    background-color:rgb(27, 255, 129);
    position:relative;
    top: 130px;
    left:500px;
    animation: block 1s infinite linear;
}

@keyframes block{
    0%{left:480px;}
    100%{left:-40px;}

}

p{
    text-align : center;
}

button{
    display: grid;
    font-size: 30px;
    text-align: center;
    background-color:#f8b702;
	border-radius:28px;
	border:7px solid #ebc002;
    margin: auto;
}